body {
    background-image: url(https://img.freepik.com/premium-photo/ingredients-homemade-pizza-white-wooden-background_35641-2959.jpg?w=1380);
}
.header h1 {
    width: 80%;
    margin: 150px;
    font-size: 80px;
    font-weight: 200;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px lightgray;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 5px;
    border-radius: 15px;
}

.original_content {
    width: 80%;
    height: 550px;
    background-color: whitesmoke;
    opacity: .9;
    position: relative;
    margin: 150px; 
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightgrey;
}
.presentation {
    width: 50%;
    padding:20px;
    height: 200px;
    margin: 0px 450px;
    background-color: white;
    border-radius: 25px;
}
.presentation h4{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.presentation p{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 15px;
}
.bttn_box{
    width: 33%;
    height: 100px;
    margin: 50px;
    padding: 50px;
    background-color: white;
    opacity: .9;
    border-radius: 10px;
    padding: 10px;
    
}
.bttn_box h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.button{
    background-color: #4CAF50;
    box-shadow: 0 8px 16px 0 lightgray;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.footer {
    width: 32%;
    height: 75px;
    padding-left: 20px;
    margin: 150px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 25px;
    opacity: .9;
}
.footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.submit_bttn{
    background-color: #4CAF50;
    box-shadow: 0 8px 12px 0 lightgrey;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}