body {
    background-image: url(https://img.freepik.com/premium-photo/ingredients-homemade-pizza-white-wooden-background_35641-2959.jpg?w=1380);
}
.content h1 {
    font-size: 64px;
    font-weight: 500;
}