body {
    background-image: url(https://img.freepik.com/premium-photo/ingredients-homemade-pizza-white-wooden-background_35641-2959.jpg?w=1380);
}
.content h1{
    font-size: 50px;
    font-: ;
    font-weight: 300;
    text-align: center;
}

div {
    width: 80%;
    height: 600px;
    background-color: whitesmoke;
    opacity: .8;
    position: relative;
    margin: 120px; 
    border-radius: 25px;
    box-shadow: 10px 10px 5px lightgrey;
}